{% extends "base.html" %}
{% block content %}
  <table class="table table-bordered">
    <thread>
      <tr>
        {% for name in names%}
          <th>
            {{ name }}
          </th>
        {% endfor %}
      </tr>
    </thread>
    {% for deal in deals %}
      <tr>
        <td>
          {{ deal.ID }}
        </td>
        <td>
          {{ deal.TITLE }}
        </td>
        <td>
          {{ deal.BEGINDATE }}
        </td>
        <td>
          {{ deal.CLOSEDATE }}
        </td>
        <td>
          {{ deal.OPPORTUNITY }}
        </td>
        <td>
          {{ deal.UF_CRM_PENALTY }}
        </td>
        <td>
          {% if deal.UF_CRM_INTERNATIONAL_DEAL == '1' %} Да
          {% else %} Нет
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}